<!DOCTYPE html>
<html>
        <style type="text/css">
           .noMargin{ margin: 0 auto ; }
        </style>
<body style="font-size:13px;font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">
  <table border="0" cellspacing="0" cellpadding="0" width="100%">
      <tbody>
            <tr>
                <td width="302" valign="top">
                </td>
                <td width="36" valign="top">
                </td>
                <td width="316" valign="top">
                </td>
            </tr>
          <tr>
              <td width="302" valign="top">
                  <p align="center">
                      <strong></strong>
                  </p>
                  <p align="center" style="font-size:24px; margin-bottom: 0">
                      <strong>LEASE AGREEMENT</strong>
                  </p>
                  <p align="center" style="margin-top: 0">
                      No.<u>{{with .Info}}{{.LANumber}}{{end}}</u>
                  </p>
              </td>
              <td width="36" valign="top">
              </td>
              <td width="316" valign="top">
                  <p align="center">
                      <strong></strong>
                  </p>
                  <p align="center" style="font-size:24px; margin-bottom: 0">
                      <strong>PERJANJIAN SEWA</strong>
                  </p>
                  <p align="center" style="margin-top: 0 ">
                      No.<u>{{with .Info}}{{.LANumber}}{{end}}</u>
                  </p>
              </td>
          </tr>
          <tr>
              <td width="302" valign="top">
              </td>
              <td width="36" valign="top">
              </td>
              <td width="316" valign="top">
              </td>
          </tr>
          <tr>
              <td width="302" valign="top" height="50">
                  <p style="text-align:justify">
                      This Lease Agreement (the &#8220;<strong>Agreement</strong>&#8221;) is
                      made in Jakarta on {{with .Info}} {{.Date | formatAsFullDate}} {{end}} by and between:
                  </p>
              </td>
              <td width="36" valign="top">
              </td>
              <td width="316" valign="top" height="50">
                  <p style="text-align:justify">
                      Perjanjian Sewa ini (&#8220;<strong>Perjanjian</strong>&#8221;) dibuat
                      di Jakarta tanggal {{with .Info}} {{.Date | formatAsFullDate}} {{end}} oleh dan antara:
                  </p>
              </td>
          </tr>
          <tr>
              <td width="302" valign="top">
              </td>
              <td width="36" valign="top">
              </td>
              <td width="316" valign="top">
              </td>
          </tr>
          <tr>
              <td width="302" valign="top">
                <ol type="1" start="1">
                    <li>
                        <p style="text-align:justify">
                            <strong>PT EVI ASIA TENGGARA</strong>, a limited
                            liability company established under the Law of the Republic
        of Indonesia, having registered address at The Maja 1                    <sup>st</sup> Floor, Jl. Kyai Maja No. 39, Jakarta Selatan
        12120, Indonesia (hereinafter referred to as &#8220;<strong>Landlord</strong>&#8221;); and
                        </p>
                    </li>
                </ol>
              </td>
              <td width="36" valign="top">
              </td>
              <td width="316" valign="top">
                <ol type="1" start="1">
                    <li>
                        <p style="text-align:justify">
                        <strong>PT EVI ASIA TENGGARA</strong>, suatu perseroan
                        terbatas yang didirikan menurut hukum Republik Indonesia,
                        beralamat di The Maja Lt. 1, JI. Kyai Maja No.39, Jakarta
    12120, Indonesia (selanjutnya disebut &#8220;<strong>Pemberi Sewa</strong>&#8221;); dan
                        </p>
                    </li>
                </ol>
              </td>
          </tr>
          <tr>
              <td width="302" valign="top">
              </td>
              <td width="36" valign="top">
              </td>
              <td width="316" valign="top">
              </td>
          </tr>
          <tr>
              <td width="302" valign="top">
                <ol type="1" start="2">
                        {{with .Tenant}}
                    <li>
                        <p style="text-align:justify" height="50">
                                    {{with .Company}}
                            <strong>{{.Name}}</strong>, a limited liability company
                            established under the Law of the Republic of Indonesia,
                            having registered address at {{.Address}} {{end}}{{end}}, in this case represented
                            by
                            {{with .User}}
                            {{.FirstName}} {{.LastName}}
                            {{end}} (hereinafter referred to as &#8220;<strong>Tenant</strong>
                            &#8221;).
                        </p>
                    </li>
                </ol>
              </td>
              <td width="36" valign="top">
              </td>
              <td width="316" valign="top" height="50">
                    <ol type="1" start="2">
                        {{with .Tenant}}
                        <li>
                            <p style="text-align:justify">
                                            {{with .Company}}
                                <strong>{{.Name}}, </strong>suatu perseroan terbatas
                                yang didirikan menurut hukum Republik Indonesia, beralamat
                                di {{.Address}} {{end}}{{end}}, Indonesia, dalam hal ini diwakili oleh
                                {{with .User}}
                                    {{.FirstName}} {{.LastName}}
                                {{end}}
                                (selanjutnya disebut &#8220;<strong>Penyewa</strong>&#8221;).
                            </p>
                        </li>
                    </ol>
              </td>
          </tr>
          <tr>
              <td width="302" valign="top">
              </td>
              <td width="36" valign="top">
              </td>
              <td width="316" valign="top">
              </td>
          </tr>
          <tr>
              <td width="302" valign="top" height="50">
                  <p style="text-align:justify">
                      The Landlord and the Tenant thereinafter jointly will be
                      reserved as the &#8220;<strong>Parties</strong>&#8221; and separately
                      referred to as a &#8220;<strong>Party</strong>&#8221;.
                  </p>
              </td>
              <td width="36" valign="top">
              </td>
              <td width="316" valign="top" height="50">
                  <p style="text-align:justify">
  Pemberi Sewa dan Penyewa secara bersama-sama disebut &#8220;<strong>Para Pihak</strong>&#8221; dan masing-masing disebut &#8220; <strong>Pihak</strong>&#8221;.
                  </p>
              </td>
          </tr>
          <tr>
              <td width="302" valign="top">
              </td>
              <td width="36" valign="top">
              </td>
              <td width="316" valign="top">
              </td>
          </tr>
          <tr>
              <td width="302" valign="top">
                  <p>
                      Hereby the Parties declare the following:
                  </p>
              </td>
              <td width="36" valign="top">
              </td>
              <td width="316" valign="top">
                  <p>
                      Para Pihak menerangkan sebagai berikut:
                  </p>
              </td>
          </tr>
          <tr>
              <td width="302" valign="top">
              </td>
              <td width="36" valign="top">
              </td>
              <td width="316" valign="top">
              </td>
          </tr>
          <tr>
              <td width="302" valign="top" height="50">
                <ol type="1" start="1">
                    <li>
                        <p style="text-align:justify">
                            That the Landlord has the full right and authorization
                            to lease, manages the lease and operations of office
                            building named
                            {{with .BookingItem}}
                            {{with .Location}}
                                {{.Building}}
                            {{end}}
                            {{end}}
                            to the other party, hereinafter referred
                            to as the &#8220;<strong>Office Building</strong>&#8221;.
                        </p>
                    </li>
                </ol>
              </td>
              <td width="36" valign="top">
              </td>
              <td width="316" valign="top" height="50">
                    <ol type="1" start="1">
                        <li>
                            <p style="text-align:justify">
                                    Bahwa Pemberi Sewa memiliki hak dan wewenang penuh untuk
                                    menyewakan, mengelola penyewaan dan operasional dari gedung
                                    yang dikenal dengan nama
                                    {{with .BookingItem}}
                                    {{with .Location}}
                                        {{.Building}}
                                    {{end}}
                                    {{end}}
                                    kepada pihak lain, yang untuk
                selanjutnya disebut juga sebagai &#8220;<strong>Bangunan Kantor</strong>&#8221;.
                             </p>
                        </li>
                    </ol>
              </td>
          </tr>
          <tr>
              <td width="302" valign="top">
              </td>
              <td width="36" valign="top">
              </td>
              <td width="316" valign="top">
              </td>
          </tr>
          <tr>
              <td width="302" valign="top">
                    <ol type="1" start="2">
                        <li>
                            <p style="text-align:justify;">
                                That the Tenant intends to lease to a space described in
                                Part 2 of the Schedule, which forms part of the Office
            Building, hereinafter referred to as the &#8220;<strong>Office Leased Space</strong>&#8221;.
                            </p>
                        </li>
                    </ol>
              </td>
              <td width="36" valign="top">
              </td>
              <td width="316" valign="top">
                <ol type="1" start="2">
                    <li>
                    <p style="text-align:justify">
                    Bahwa Penyewa bermaksud untuk menyewa area yang
                    diuraikan dalam Bagian 2 Lampiran dan merupakan bagian dari
                    Bangunan Kantor dari Pemberi Sewa untuk selanjutnya disebut
                    juga sebagai &#8220;<strong>Area Sewa Kantor</strong>&#8221;.
                    </p>
                    </li>
                </ol>
              </td>
          </tr>
          <tr>
              <td width="302" valign="top">
              </td>
              <td width="36" valign="top">
              </td>
              <td width="316" valign="top">
              </td>
          </tr>
          <tr>
              <td width="302" valign="top">
                <ol type="1" start="3">
                    <li>
                        <p style="text-align:justify">
                            The Tenant intends to hereby agree to utilize the Office
                            Leased Space and pay a lease charge according to the terms
                            and conditions set forth in this Agreement.
                        </p>
                    </li>
                </ol>
              </td>
              <td width="36" valign="top">
              </td>
              <td width="316" valign="top">
                <ol type="1" start="3">
                    <li>
                        <p style="text-align:justify">
                            Penyewa bersedia dan menyetujui penggunaan Area Sewa
                            Kantor dan membayar biaya sewa sesuai dengan ketentuan di
                            Perjanjian ini.
                        </p>
                    </li>
                </ol>
              </td>
          </tr>
          <tr>
              <td width="302" valign="top">
              </td>
              <td width="36" valign="top">
              </td>
              <td width="316" valign="top">
              </td>
          </tr>
          <tr>
              <td width="302" valign="top">
                <ol type="1" start="4">
                    <li>
                        <p style="text-align:justify">
                            The Tenant shall use the Office Leased Space only for
                            the lawful business operations of its own.
                        </p>
                    </li>
                </ol>
              </td>
              <td width="36" valign="top">
              </td>
              <td width="316" valign="top">
                <ol type="1" start="4">
                    <li>
                        <p style="text-align:justify">
                            Penyewa akan menggunakan Area Sewa Kantor hanya untuk
                            usahanya sendiri yang sah.
                        </p>
                    </li>
                </ol>
              </td>
          </tr>
          <tr>
              <td width="302" valign="top">
              </td>
              <td width="36" valign="top">
              </td>
              <td width="316" valign="top">
              </td>
          </tr>
          <tr>
              <td width="302" valign="top">
                  <p style="text-align:justify">
                      Furthermore, based on the matters mentioned above, the
                      Parties hereby agree to enter into a binding agreement with
                      the terms and conditions as follows:
                  </p>
              </td>
              <td width="36" valign="top">
              </td>
              <td width="316" valign="top">
                  <p style="text-align:justify">
                      Selanjutnya, berdasarkan hal-hal tersebut diatas, Para
                      Pihak sepakat untuk melaksanakan Perjanjian dengan
                      ketentuan-ketentuan sebagai berikut:
                  </p>
              </td>
          </tr>
          <tr>
              <td width="302" valign="top">
              </td>
              <td width="36" valign="top">
              </td>
              <td width="316" valign="top">
              </td>
          </tr>
          <tr>
              <td width="302" valign="top">
              </td>
              <td width="36" valign="top">
              </td>
              <td width="316" valign="top">
              </td>
          </tr>
          <tr style="height: 60px">
              <td width="302" valign="top">
                  <p align="center" class="noMargin">
                      <strong>Article 1</strong>
                  </p>
                  <p align="center" class="noMargin">
                      <strong>Lease Period</strong>
                  </p>
              </td>
              <td width="36" valign="top">
                  <p align="center">
                      <strong></strong>
                  </p>
              </td>
              <td width="316" valign="top">
                  <p align="center" class="noMargin">
                      <strong>Pasal 1</strong>
                  </p>
                  <p align="center" class="noMargin">
                      <strong>Jangka Waktu Sewa</strong>
                  </p>
              </td>
          </tr>
          <tr>
              <td width="302" valign="top">
                  <p style="text-align:justify">
                      The Parties agree that the lease period is according to the
                      Lease Term as specified in Part 3 of the Schedule.
                  </p>
              </td>
              <td width="36" valign="top">
              </td>
              <td width="316" valign="top">
                  <p style="text-align:justify">
                      Para Pihak sepakat bahwa sewa menyewa ini ber-laku sesuai
                      dengan uraian di Bagian 3 Lampiran.
                  </p>
              </td>
          </tr>
          <tr>
              <td width="302" valign="top">
              </td>
              <td width="36" valign="top">
              </td>
              <td width="316" valign="top">
              </td>
          </tr>
          <tr>
              <td width="302" valign="top">
              </td>
              <td width="36" valign="top">
              </td>
              <td width="316" valign="top">
              </td>
          </tr>
          <tr style="height: 60px">
              <td width="302" valign="top">
                  <p align="center" class="noMargin">
                      <strong>Article 2</strong>
                  </p>
                  <p align="center" class="noMargin">
                      <strong>Lease Payment</strong>
                  </p>
              </td>
              <td width="36" valign="top">
                  <p align="center">
                      <strong></strong>
                  </p>
              </td>
              <td width="316" valign="top">
                  <p align="center" class="noMargin">
                      <strong>Pasal 2</strong>
                  </p>
                  <p align="center" class="noMargin">
                      <strong>Pembayaran Sewa</strong>
                  </p>
              </td>
          </tr>
          <tr>
              <td width="302" valign="top">
                <ol type="i" start="1" style="padding-left:1em;">
                <li style="height:65px">
                  <p style="text-align:justify">
                      The Tenant shall pay to the Landlord as specified in
                      Part 3 of the Schedule for the Lease Charges and Service
                      Charges.
                  </p>
                </li>
                <li style="height:90px">
                  <p style="text-align:justify">
                      The Tenant shall also pay to the Landlord a security
  deposit of 1 (one) month of Lease Charges upfront (&#8220;<strong>Security Deposit</strong>&#8221;), to be returned to the
                      Tenant upon the termination of this Agreement, unless
                      forfeited.
                  </p>
                </li>
                <li style="height:60px">
                  <p style="text-align:justify">
                      In the event the Tenant has paid the Security Deposit
                      and for any reason the Tenant does not move in and occupy
                      the leased premise, then the Security Deposit shall not be
                      returned to the Tenant.
                  </p>
                </li>
                <li style="height:50px">
                  <p style="text-align:justify">
                      Lease Charges must be paid within 5 (five) days from
                      the invoice issue date and no reminder from the Landlord
                      will be issued.
                  </p>
                </li>
                <li style="height:30px">
                  <p style="text-align:justify">
                      Tax obligation shall be borne by each Party according to
                      the prevailing tax regulations.
                  </p>
                </li>
                <li style="height:75px">
                  <p style="text-align:justify">
                      Payments made to the Landlord shall only be valid and
                      acceptable if made by direct deposit to the Landlord&#8217;s bank
                      account and evidenced by presentation of the pay-in slip to
                      the Landlord and/or by other means agreed by Parties.
                  </p>
                </li>
                <li style="height:75px">
                  <p style="text-align:justify">
                      If Tenant does not make payment by the period agreed
                      above, the Landlord will have the right to impose a late
                      penalty of 0.5% of Lease Charges daily and cumulative.
                  </p>
                </li>
                </ol>
              </td>
              <td width="36" valign="top">
              </td>
              <td width="316" valign="top">
                <ol type="i" start="1" style="padding-left:1em;">
                <li style="height:70px">
                  <p style="text-align:justify">
                      Penyewa sepakat untuk membayar kepada Pemberi Sewa
                      sesuai dengan uraian pada Bagian 3 Lampiran untuk Biaya
                      Sewa dan Biaya Pelayanan.
                  </p>
                </li>
                <li style="height:90px">
                  <p style="text-align:justify">
                      Penyewa juga sepakat untuk membayar kepada Pemberi Sewa
                      berupa uang jaminan sewa sebesar 1 (satu) bulan Biaya Sewa
                      di muka (&#8220;<strong>Uang Jaminan</strong>&#8221;), yang akan
                      dikembalikan kepada Penyewa di akhir Perjanjian, kecuali
                      Uang Jaminan hangus.
                  </p>
                </li>
                <li style="height:60px">
                  <p style="text-align:justify">
                      Dalam hal Penyewa telah membayar Uang Jaminan dan
                      untuk alasan apapun Penyewa tidak masuk dan menempati area
                      sewa kantor, maka Uang Jaminan tidak akan dikembalikan
                      kepada Penyewa.
                  </p>
                </li>
                <li style="height:50px">
                  <p style="text-align:justify">
                      Biaya Sewa harus dibayarkan dalam 5 (lima) hari setelah
                      invoice dikeluarkan, tanpa perlu diingatkan dari Pemberi
                      Sewa.
                  </p>
                </li>
                <li style="height:30px">
                  <p style="text-align:justify">
                      Kewajiban perpajakan menjadi beban masing-masing Pihak
                      sesuai ketentuan perpajakan yang berlaku.
                  </p>
                </li>
                <li style="height:75px">
                  <p style="text-align:justify">
                      Pembayaran kepada Pemberi Sewa hanya akan diterima
                      dalam bentuk deposit atau transfer kepada rekening bank
                      Pemberi Sewa disertai dengan bukti penyetoran dan/atau
                      metode pembayaran lain yang disetujui bersama oleh Para
                      Pihak.
                  </p>
                </li>
                <li style="height:75px">
                  <p style="text-align:justify">
                      Apabila Penyewa tidak membayar Biaya Sewa dalam
                      periode yang disetujui di atas, Pemberi Sewa mempunyai hak
                      untuk mengenakan biaya keterlambatan sebesar 0.5% per hari
                      dari Biaya Sewa dan dapat diakumulasikan.
                  </p>
                </li>
              </ol>
              </td>
          </tr>
          <tr>
              <td width="302" valign="top">
              </td>
              <td width="36" valign="top">
              </td>
              <td width="316" valign="top">
              </td>
          </tr>
          <tr>
              <td width="302" valign="top">
              </td>
              <td width="36" valign="top">
              </td>
              <td width="316" valign="top">
              </td>
          </tr>
          <tr style="height: 60px">
              <td width="302" valign="top">
                  <p align="center" class="noMargin">
                      <strong>Article 3</strong>
                  </p>
                  <p align="center" class="noMargin">
                      <strong>
                          Suspension or Termination of Services by the Landlord
                      </strong>
                  </p>
              </td>
              <td width="36" valign="top">
                  <p align="center">
                      <strong></strong>
                  </p>
              </td>
              <td width="316" valign="top">
                  <p align="center" class="noMargin">
                      <strong>Pasal 3</strong>
                  </p>
                  <p align="center" class="noMargin">
                      <strong>
                          Penangguhan atau Pengakhiran Layanan Oleh Pemberi Sewa
                      </strong>
                  </p>
              </td>
          </tr>
          <tr>
              <td width="302" valign="top">
                <ol type="i" start="1" style="padding-left:1em;">
                <li style="height:100px">
                  <p style="text-align:justify">
                      Suspension or termination and forfeit of Deposit will be
                      at the Landlord&#8217;s discretion in the event of non-payment
                      and/or breach of the terms of this Agreement with a 14
                      (fourteen) day notice. In this event, Full amount of
                      Deposit shall be forfeited.
                  </p>
                </li>
                <li style="height:120px">
                  <p style="text-align:justify;">
                      The Landlord also reserves the right to terminate the
                      Service for any reason which in the Landlord&#8217;s opinion has
                      an adverse effect on the Landlord&#8217;s business. In this
                      event, Tenant will be provided a 30 (thirty) day notice and
                      Deposit without interest shall be returned after damage
                      retributions and relevant charges, if any.
                  </p>
                </li>
                <li>
                  <p style="text-align:justify;height:70px;">
                      In the event of Landlord&#8217;s contract ends before the
                      end of the Lease Period, Landlord shall give a 30 (thirty)
                      day notice to the Tenant before the occurrence of such
                      event. In this case, the Landlord may:
                  </p>
                  <ol type="a">
                    <li>
                    <p style="text-align:justify">
                        with Tenant written consent, move the Tenant to another
                        location of Landlord&#8217;s choice, or
                    </p>
                    </li>
                    <li>
                      <p style="text-align:justify">
                          if the Tenant refused to be moved, return the Deposit to
                          the Tenant after damage retributions and relevant charges
                          deductions (if any).
                      </p>
                    </li>
                  </ol>
                </li>
                </ol>
              </td>
              <td width="36" valign="top">
              </td>
              <td width="316" valign="top">
                <ol type="i" start="1" style="padding-left:1em;">
                <li style="height:100px">
                  <p style="text-align:justify">
                      Penangguhan atau pengakhiran dan penyitaan Uang Jaminan
                      akan dilakukan atas kebijakan Pemberi Sewa apabila terjadi
                      kelalaian pembayaran dan/atau pelanggaran terhadap
                      Perjanjian dengan disertai pemberitahuan 14 (empat belas)
                      hari sebelumnya. Dalam hal ini, seluruh jumlah Uang Jaminan
                      akan disita.
                  </p>
                </li>
                <li style="height:120px">
                  <p style="text-align:justify">
                      Pemberi Sewa juga berhak untuk mengakhiri layanan untuk
                      alasan apapun yang menurut pendapat Pemberi Sewa memiliki
                      dampak yang merugikan bagi usaha Pemberi Sewa. Dalam kasus
                      ini, Penyewa akan menerima pemberitahuan dalam 30 (tiga
                      puluh) hari dan Uang Jaminan akan dikembalikan tanpa bunga
                      setelah dikurangi penggantian kerusakan atau biaya lainnya,
                      apabila ada.
                  </p>
                </li>
                <li>
                  <p style="text-align:justify;height:70px">
                      Dalam peristiwa kontrak Pemberi Sewa habis sebelum
                      akhir Jangka Waktu Sewa, Pemberi Sewa akan memberikan
                      pemberitahuan 30 (tiga puluh) hari kepada Penyewa sebelum
                      terjadinya peristiwa tersebut. Dalam hal ini, Pemberi Sewa
                      dapat:
                  </p>
                  <ol type="a">
                    <li  style="height:40px;">
                      <p style="text-align:justify">
                          dengan persetujuan tertulis Penyewa, memindahkan Penyewa
                          ke tempat lain berdasarkan pilihan Pemberi Sewa, atau
                      </p>
                    </li>
                    <li  style="height:40px;">
                      <p style="text-align:justify">
                          jika Penyewa menolak untuk dipindahkan, mengembalikan
                          Uang Jaminan kepada Penyewa setelah pengurangan ganti
                          kerusakan dan biaya-biaya lainnya (apabila ada).
                      </p>
                    </li>
                  </ol>
                </li>
                </ol>
              </td>
          </tr>
          <tr>
              <td width="302" valign="top">
              </td>
              <td width="36" valign="top">
              </td>
              <td width="316" valign="top">
              </td>
          </tr>
          <tr>
              <td width="302" valign="top">
              </td>
              <td width="36" valign="top">
              </td>
              <td width="316" valign="top">
              </td>
          </tr>
          <tr style="height: 60px">
              <td width="302" valign="top">
                  <p align="center" class="noMargin">
                      <strong>Article 4</strong>
                  </p>
                  <p align="center" class="noMargin">
                      <strong>Limitation of Service</strong>
                  </p>
              </td>
              <td width="36" valign="top">
                  <p align="center">
                      <strong></strong>
                  </p>
              </td>
              <td width="316" valign="top">
                  <p align="center" class="noMargin">
                      <strong>Pasal 4</strong>
                  </p>
                  <p align="center" class="noMargin">
                      <strong>Pembatasan Layanan</strong>
                  </p>
              </td>
          </tr>
          <tr>
              <td width="302" valign="top" style="height:470px">
                <ol type="i" start="1" style="padding-left:1em;">
                <li style="height:40px;">
                  <p style="text-align:justify">
                      The service does not include the use of the Landlord&#8217;s
                      reception or lobby as a meeting place.
                  </p>
                </li>
                <li style="height:135px;">
                  <p style="text-align:justify">
                      The Landlord is not liable for any loss as a result of
                      the Landlord&#8217;s failure to provide a service as a result of
                      mechanical breakdown, strike, delay, failure of team,
                      termination of the Landlord&#8217;s interest in the Office
                      Building or otherwise, unless cause by the Landlord&#8217;s
                      willful misconduct and negligence.
                  </p>
                </li>
                <li style="height:285px;">
                  <p style="text-align:justify">
                      The Tenant agrees that:
                  </p>
                  <ol type="a">
                    <li style="height:110px;">
                      <p style="text-align:justify;">
                          The Landlord will not have any liability of any loss,
                          damage, or claim which arises as a result of, or in
                          connection with, the Tenant&#8217;s Agreement and/or Tenant&#8217;s use
                          of the services except to the extent that such loss,
                          damage, expense, or claim is cause by the Landlord&#8217;s
                          willful misconduct and negligence; and
                      </p>
                    </li>
                    <li>
                        <p style="text-align:justify ;height:120px;">
                          The Landlord will not in any circumstances have any
                          liability for loss of business, loss of profits, loss of
                          anticipated savings, loss of or damage to data, third party
                          claims or any consequential loss. The Landlord strongly
                          advises to the Tenant to insure against all such potential
                          loss, damage, and expense of liability.
                      </p>
                    </li>
                  </ol>
                </li>
                </ol>
              </td>
              <td width="36" valign="top">
              </td>
              <td width="316" valign="top" style="height:470px">
                <ol type="i" start="1" style="padding-left:1em;">
                <li  style="height:40px;">
                  <p style="text-align:justify">
                      Layanan tidak mencakup penggunaan ruang resepsionis atau
                      lobby sebagai tempat pertemuan.
                  </p>
                </li>
                <li  style="height:135px;">
                  <p style="text-align:justify">
                      Pemberi Sewa tidak bertanggung jawab atas kerugian apa
                      pun sebagai akibat dari ketidakmampuan Pemberi Sewa untuk
                      menyediakan layanan yang diakibatkan oleh kerusakan
                      mekanik, pemogokan, keterlambatan, kegagalan tim,
                      pengakhiran atas kepentingan Pemberi Sewa terhadap
                      Bangunan, kecuali disebabkan oleh kesalahan dan kelalaian
                      yang disengaja oleh Pemberi Sewa.
                  </p>
                </li>
                <li style="height:285px;">
                  <p style="text-align:justify">
                      Penyewa setuju bahwa:
                  </p>
                  <ol type="a">
                    <li>
                    <p style="text-align:justify">
                        Pemberi Sewa tidak akan bertanggung jawab atas
                        kehilangan, kerusakan, atau gugatan apa pun yang timbul
                        sebagai akibat dari, atau berkaitan dengan, Perjanjian ini
                        dan/atau penggunaan layanan oleh Penyewa kecuali sepanjang
                        kehilangan, kerusakan, biaya, atau gugatan tersebut
                        disebabkan oleh kesalahan dan kelalaian yang disengaja oleh
                        Pemberi Sewa; dan
                    </p>
                  </li>
                  <li>
                    <p style="text-align:justify ;height:120px;">
                        Dalam keadaan apa pun Pemberi Sewa tidak akan memiliki
                        kewajiban atas kehilangan usaha, kehilangan keuntungan,
                        kehilangan kemungkinan tabungan, atau kerugian sebab akibat
                        apa pun. Pemberi Sewa dengan ini memberikan himbauan keras
                        kepada Penyewa untuk mengadakan asuransi terhadap semua
                        kemungkinan kehilangan, kerusakan, dan biaya kewajiban
                        tersebut.
                    </p>
                    </li>
                  </ol>
                </li>
                </ol>
              </td>
          </tr>
          <tr>
              <td width="302" valign="top">
              </td>
              <td width="36" valign="top">
              </td>
              <td width="316" valign="top">
              </td>
          </tr>
          <tr>
              <td width="302" valign="top">
              </td>
              <td width="36" valign="top">
              </td>
              <td width="316" valign="top">
              </td>
          </tr>
          <tr style="height: 60px">
              <td width="302" valign="top">
                  <p align="center" class="noMargin">
                      <strong>Article 5</strong>
                  </p>
                  <p align="center" class="noMargin">
                      <strong>Insurance</strong>
                  </p>
              </td>
              <td width="36" valign="top">
                  <p align="center">
                      <strong></strong>
                  </p>
              </td>
              <td width="316" valign="top">
                  <p align="center" class="noMargin">
                      <strong>Pasal 5</strong>
                  </p>
                  <p align="center" class="noMargin">
                      <strong>Asuransi</strong>
                  </p>
              </td>
          </tr>
          <tr>
              <td width="302" valign="top">
                  <p style="text-align:justify">
                      The Tenant is responsible to insure all goods and
                      belongings owned by the Tenant placed in the Office Leased
                      Area during the lease period, including but not limited to
                      decoration and equipment, and the Landlord is not liable
                      for goods and belongings in the Office Leased Area.
                  </p>
              </td>
              <td width="36" valign="top">
              </td>
              <td width="316" valign="top">
                  <p style="text-align:justify">
                      Penyewa bertanggung jawab sepenuhnya untuk mengasuransikan
                      barang-barang milik Penyewa dalam Area Sewa Kantor selama
                      jangka waktu sewa, termasuk dekorasi dan perlengkapannya
                      serta barang-barang milik Penyewa dan Pemberi Sewa tidak
                      bertanggung jawab atas resiko yang terjadi terhadap
                      barang-barang yang berada dalam Area Sewa Kantor.
                  </p>
              </td>
          </tr>
          <tr>
              <td width="302" valign="top">
              </td>
              <td width="36" valign="top">
              </td>
              <td width="316" valign="top">
              </td>
          </tr>
          <tr>
              <td width="302" valign="top">
              </td>
              <td width="36" valign="top">
              </td>
              <td width="316" valign="top">
              </td>
          </tr>
          <tr style="height: 60px">
              <td width="302" valign="top">
                  <p align="center" class="noMargin">
                      <strong>Article 6</strong>
                  </p>
                  <p align="center" class="noMargin">
                      <strong>
                          Rights of Entry to Tenant&#8217;s Office Leased Area
                      </strong>
                  </p>
              </td>
              <td width="36" valign="top">
                  <p align="center">
                      <strong></strong>
                  </p>
              </td>
              <td width="316" valign="top">
                  <p align="center" class="noMargin">
                      <strong>Pasal 6</strong>
                  </p>
                  <p align="center" class="noMargin">
                      <strong>
                          Hak Untuk Memasuki Area Sewa Kantor Yang Disewa Penyewa
                      </strong>
                  </p>
              </td>
          </tr>
          <tr>
              <td width="302" valign="top" style="height:260px">
                <ol type="i" start="1" style="padding-left:1em;">
                <li>
                  <p style="text-align:justify;height:90px" >
                      Tenant shall permit the Landlord and/or their agents or
                      workmen to enter the Office Leased Area, with prior notice
                      from the Landlord, to inspect Office Leased Area or to
                      carry out any necessary repair or maintenance work.
                  </p>
                  <p style="text-align:justify;height:155px">
                      Subject to 3 (three) days prior written notice and
                      approval, such approval shall not be unreasonably withheld,
                      the Landlord or its agent shall have the right during 60
                      (sixty) days period prior to the expiry of the Lease
                      Period, to offer and bring prospective Parties to view or
                      inspect the Office Leased Area on condition that the Lease
                      Period is not renewed by the Tenant.
                  </p>
                  </li>
                  <li style="height:60px">
                  <p style="text-align:justify">
                      In case of emergency e.g. fire, the Landlord and/or
                      their workmen may enter the Office Leased Area by force.
                  </p>
                </li></ol>
              </td>
              <td width="36" valign="top">
              </td>
              <td width="316" valign="top" style="height:260px">
                <ol type="i" start="1" style="padding-left:1em;">
                <li>
                  <p style="text-align:justify;height:90px">
                      Penyewa mengijinkan Pemberi Sewa dan/atau para agen atau
                      pekerja mereka untuk masuk ke dalam Area Sewa Kantor,
                      dengan pemberitahuan terlebih dahulu dari Pemberi Sewa,
                      untuk memeriksa Area Sewa Kantor atau melaksanakan
                      pekerjaan perbaikan atau pemeliharaan yang diperlukan.
                  </p>
                  <p style="text-align:justify;height:155px">
                      Dengan pemberitahuan tertulis dan persetujuan 3 (tiga) hari
                      sebelumnya, persetujuan tersebut tidak boleh ditolak tanpa
                      alasan yang wajar, Pemberi Sewa atau agenagennya berhak
                      selama kurun waktu 60 (enam puluh) hari sebelum berakhirnya
                      sewa, menawarkan dan membawa calon penyewa baru untuk
                      melihat atau memeriksa Area Sewa Kantor dengan syarat bahwa
                      sewa tersebut tidak diperpanjang oleh Penyewa.
                  </p>
                  </li>
                  <li style="height:60px">
                  <p style="text-align:justify">
                      Dalam keadaan darurat seperti kebakaran, Pemberi Sewa
                      dan/atau pekerja mereka diperbolehkan masuk dalam Area Sewa
                      Kantor secara paksa.
                  </p>
                </li></ol>
              </td>
          </tr>
          <tr>
              <td width="302" valign="top">
              </td>
              <td width="36" valign="top">
              </td>
              <td width="316" valign="top">
              </td>
          </tr>
          <tr>
              <td width="302" valign="top">
              </td>
              <td width="36" valign="top">
              </td>
              <td width="316" valign="top">
              </td>
          </tr>
          <tr style="height: 60px">
              <td width="302" valign="top">
                  <p align="center" class="noMargin">
                      <strong>Article 7</strong>
                  </p>
                  <p align="center" class="noMargin">
                      <strong>Supply of Correct Information</strong>
                  </p>
              </td>
              <td width="36" valign="top">
                  <p align="center">
                      <strong></strong>
                  </p>
              </td>
              <td width="316" valign="top">
                  <p align="center" class="noMargin">
                      <strong>Pasal 7</strong>
                  </p>
                  <p align="center" class="noMargin">
                      <strong>Pemberian lnformasi Yang Benar</strong>
                  </p>
              </td>
          </tr>
          <tr>
              <td width="302" valign="top">
                <ol type="i" start="1" style="padding-left:1em;">
                <li style="height:135px;">
                  <p style="text-align:justify">
                      At the time of application for the Service, the Tenant
                      oblige to submit to the Landlord its correct and complete
                      information and shall inform the Landlord of any change or
                      alteration thereof immediately. All notices and documents
                      to be given to the Second Party in relation to the service
                      will be addressed according to the supplied information.
                  </p>
                </li>
                <li>
                  <p style="text-align:justify">
                      After signing of this Agreement, Tenant agrees to share
                      their employee&#8217;s information (name and contact) to Landlord
                      only for the sole purpose of community. In this case,
                      Landlord shall treat the information as strictly
                      confidential.
                  </p>
                </li>
              </ol>
              </td>
              <td width="36" valign="top">
              </td>
              <td width="316" valign="top">
                <ol type="i" start="1" style="padding-left:1em;">
                <li style="height:135px">
                  <p style="text-align:justify">
                      Pada saat mengajukan permohonan Layanan, Penyewa wajib
                      memberikan kepada Pemberi Sewa informasi yang benar dan
                      lengkap, serta harus segera memberitahukan kepada Pemberi
                      Sewa tentang setiap perubahannya. Semua pemberitahuan dan
                      dokumen yang harus diberikan kepada Pemberi Sewa terkait
                      dengan layanan akan ditujukan sesuai dengan informasi yang
                      diberikan.
                  </p>
                </li>
                <li>
                  <p style="text-align:justify">
                      Setelah menandatangani Perjanjian ini, Penyewa setuju
                      untuk membagikan informasi karyawan mereka (nama dan
                      kontak) kepada Pemberi Sewa hanya untuk tujuan komunitas.
                      Dalam hal ini, Pemberi Sewa akan memperlakukan informasi
                      tersebut dengan sangat rahasia.
                  </p>
                </li>
              </ol>
              </td>
          </tr>
          <tr>
              <td width="302" valign="top">
              </td>
              <td width="36" valign="top">
              </td>
              <td width="316" valign="top">
              </td>
          </tr>
          <tr>
              <td width="302" valign="top">
              </td>
              <td width="36" valign="top">
              </td>
              <td width="316" valign="top">
              </td>
          </tr>
          <tr style="height: 60px">
              <td width="302" valign="top">
                  <p align="center" class="noMargin">
                      <strong>Article 8</strong>
                  </p>
                  <p align="center" class="noMargin">
                      <strong>Force Majeure</strong>
                  </p>
              </td>
              <td width="36" valign="top">
                  <p align="center">
                      <strong></strong>
                  </p>
              </td>
              <td width="316" valign="top">
                  <p align="center" class="noMargin">
                      <strong>Pasal 8</strong>
                  </p>
                  <p align="center" class="noMargin">
                      <strong>Force Majeure</strong>
                  </p>
              </td>
          </tr>
          <tr>
              <td width="302" valign="top" style="height:220px;">
                <ol type="i" start="1" style="padding-left:1em;">
                <li style="height:120px">
                  <p style="text-align:justify">
                      &#8220;Force Majeure&#8221; is a circumstance or event which happens
                      beyond the power of the Parties, including but not limited
                      to riots, epidemic, fire, flood, earthquake, strike, war,
                      government decision which directly and materially prevents
                      the Parties to exercise their obligations in compliance
                      with this Agreement.
                  </p>
                </li><li>
                  <p style="text-align:justify">
                      In the event one or more events and/or circumstances as
                      contemplated in Article 8 paragraph (i) of this Agreement,
                      Party experiencing Force Majeure shall be obliged to notify
                      in writing the other party at the latest 7 (seven) calendar
                      days following such event.
                  </p>
                </li></ol>
              </td>
              <td width="36" valign="top">
              </td>
              <td width="316" valign="top" style="height:220px;">
                <ol type="i" start="1" style="padding-left:1em;">
                <li style="height:120px">
                  <p style="text-align:justify">
                      &#8220;Force Majeure&#8221; adalah segala keadaan atau peristiwa
                      yang terjadi di luar kekuasaan Para Pihak, termasuk akan
                      tetapi tidak terbatas pada huru-hara, epidemi, kebakaran,
                      banjir, gempa bumi, pemogokan, perang, keputusan pemerintah
                      yang secara langsung dan material menghalangi Para Pihak
                      secara langsung untuk melaksanakan kewajiban-kewajibannya
                      sesuai dengan Perjanjian ini.
                  </p>
                </li><li style="height:100px;">
                  <p style="text-align:justify">
                      Dalam hal terjadinya salah satu atau beberapa kejadian
                      dan/atau peristiwa sebagaimana dimaksud Pasal 8 ayat (i)
                      Perjanjian ini, Pihak yang terkena Force Majeure
                      berkewajiban untuk memberitahukan secara tertulis kepada
                      pihak yang lainnya selambat-lambatnya 7 (tujuh) hari
                      kalender sejak terjadinya peristiwa tersebut.
                  </p>
                </li></ol>
              </td>
          </tr>
          <tr>
              <td width="302" valign="top">
              </td>
              <td width="36" valign="top">
              </td>
              <td width="316" valign="top">
              </td>
          </tr>
          <tr>
              <td width="302" valign="top">
              </td>
              <td width="36" valign="top">
              </td>
              <td width="316" valign="top">
              </td>
          </tr>
          <tr style="height: 60px">
              <td width="302" valign="top">
                  <p align="center" class="noMargin">
                      <strong>Article 9</strong>
                  </p>
                  <p align="center" class="noMargin">
                      <strong>Termination of Agreement</strong>
                  </p>
              </td>
              <td width="36" valign="top">
                  <p align="center">
                      <strong></strong>
                  </p>
              </td>
              <td width="316" valign="top">
                  <p align="center" class="noMargin">
                      <strong>Pasal 9</strong>
                  </p>
                  <p align="center" class="noMargin">
                      <strong>Pengakhiran Perjanjian</strong>
                  </p>
              </td>
          </tr>
          <tr>
              <td width="302" valign="top" style="height:1140px;">
                <ol type="i" start="1" style="padding-left:1em;">
                <li>
                  <p style="text-align:justify">
                      This Agreement can be terminated if:
                  </p>
                  <ol type="a">
                    <li>
                      <p style="text-align:justify">
                          The Lease Period has ended and it is no longer renewed;
                      </p>
                    </li><li>
                      <p style="text-align:justify">
                          A Force Majeure event occurs such that the Agreement can
                          no longer be continued;
                      </p>
                    </li><li>
                      <p style="text-align:justify">
                          The Tenant fails to made payment on Lease Charges and/or
                          Service Charges within 60 (sixty) days from any due date of
                          its payment; or
                      </p>
                    </li><li style="height:35px;">
                      <p style="text-align:justify">
                          One of the Parties has liquidated or been declared
                          bankrupt by a Court of Law.
                      </p>
                    </li></ol>
                  </li><li style="height:75px;">
                  <p style="text-align:justify">
                      In the event the Tenant wishes to terminate this
                      Agreement before the expiry of the Lease Period, the Tenant
                      must submit 30 (thirty) days prior written notice to the
                      Landlord and the Security Deposit shall be forfeited.
                  </p>
                </li><li style="height:115px;">
                  <p style="text-align:justify">
                      Upon the Termination of this Agreement, the Tenant is
                      obligated to return the Building Access Card (if given) and
                      Office Leased Area in its original condition during the
                      first handover immediately within 3 (three) days after
                      Lease Period end. The Landlord shall have the right to hold
                      the Security Deposit until such requirements is satisfied
                      by the Tenant.
                  </p>
                </li><li>
                  <p style="text-align:justify;height:75px;">
                      The Tenant expressly authorizes and gives power of
                      attorney to the Landlord to vacate and repossess the Office
                      Leased Area. Any cost and expenses for the vacating the
                      Office Leased Area shall be assumed and incurred by the
                      Tenant.
                  </p>
                </li><li>
                  <p style="text-align:justify;height:145px">
                      To the extent permitted by applicable law, the Tenant
                      hereby authorizes the Landlord, which shall not terminate
                      due to any circumstances whatsoever, including
                      circumstances set forth in Article 1813 of the Indonesian
                      Civil Code, as without any such authorization, this
                      Agreement shall not be made and signed and as such is
                      irrevocable or may not be terminated for any reason
                      whatever, as follows:
                  </p>
                  <ol type="a">
                    <li style="height:90px;">
                    <p style="text-align:justify">
                        To enter the Office Leased Area or any part thereof, to
                        vacate and remove properties and equipment in the Office
                        Leased Area to a place determined by the Landlord;
                    </p>
                  </li><li>
                    <p style="text-align:justify;height:55px;">
                        To conduct any actions deemed proper and necessary by
                        the Landlord with this authorization;
                    </p>
                  </li><li>
                    <p style="text-align:justify;height:255px">
                        In the event the Security Deposit is not sufficient to
                        pay all the payment obligation of the Tenant in arrears, to
                        sell such properties at any price and conditions as
                        determined by the Landlord to compensate the financial
                        obligations of the Tenant in arrears, including but not
                        limited to costs for removal and custody of the properties
                        and equipment, without prejudice the right of the Landlord
                        to pursue further legal action against the Tenant. Should
                        the amount exceed the outstanding payment of the Tenant to
                        the Landlord, the amount shall be returned to the Tenant.
                    </p>
                    <p style="text-align:justify;height:80px;">
                        In the event, the sales proceed is insufficient to fulfill
                        the Tenant&#8217;s obligation to the Landlord, the Tenant is
                        still liable to its obligation and outstanding payment to
                        the Landlord.
                    </p>
                  </li><li style="height:240px">
                    <p style="text-align:justify;height:150px;">
                        The Tenant now and in the future hereby waive all and
                        any of its rights under the applicable law in the Republic
                        of Indonesia to claim in whatever form against the
                        Landlord, either on repossession and vacating of the Office
                        Leased Area, the execution of this article or any
                        consequences resulting from such action of the Landlord.
                    </p>
                    <p style="text-align:justify;">
                        In such case of termination of the Agreement by default of
                        Tenant as stipulated in this Article 9 i (c) and (d), the
                        Security Deposit shall be deemed forfeited and become the
                        rights of the Landlord.
                    </p>
                    </li></ol>
                  </li><li style="height:80px;">
                  <p style="text-align:justify">
                      With regard to the termination of this Agreement, the
                      Parties hereby agree to waive the provisions of Article
                      1266 of Indonesian Civil Code prevailing in the Republic of
                      Indonesia to the extent that a court decision or judicial
                      pronouncement shall be required to the termination of this
                      Agreement.
                  </p>
                </li></ol>
              </td>
              <td width="36" valign="top">
              </td>
              <td width="316" valign="top" style="height:1140px;">
                <ol type="i" style="padding-left:1em;">
                  <li>
                  <p style="text-align:justify">
                      Perjanjian ini dapat diakhiri apabila:
                  </p>
                  <ol type="a">
                    <li>
                  <p style="text-align:justify">
                      Jangka waktu sewa telah berakhir dan tidak diperpanjang
                      lagi;
                  </p>
                </li><li>
                  <p style="text-align:justify;">
                      Terjadi Force Majeure yang mengakibatkan Perjanjian ini
                      tidak dapat dilanjutkan lagi;
                  </p>
                </li><li>
                  <p style="text-align:justify">
                      Penyewa tidak melakukan pembayaran atas Biaya Sewa
                      dan/atau Biaya Pelayanan dalam jangka waktu 60 (enam puluh)
                      hari sejak tanggal jatuh tempo; atau
                  </p>
                </li><li style="height:35px;">
                  <p style="text-align:justify">
                      Salah satu pihak dilikuidasi atau dinyatakan pailit oleh
                      Pengadilan.
                  </p>
                </li></ol>
              </li><li style="height:75px;">
                  <p style="text-align:justify">
                      Dalam hal Penyewa bermaksud untuk mengakhiri Perjanjian
                      ini sebelum berakhirnya Masa Sewa, Penyewa harus memberikan
                      30 (tiga puluh) hari pemberitahuan tertulis kepada Pemberi
                      Sewa dan Uang Jaminan akan hangus.
                  </p>
                </li><li style="height:115px;">
                  <p style="text-align:justify">
                      Apabila Perjanjian ini berakhir maka Penyewa wajib
                      mengembalikan Kartu Akses Gedung (jika diberikan) dan Area
                      Sewa Kantor sesuai dengan keadaan pada saat serah terima
                      pertama paling lambat 3 (tiga) hari setelah Masa Sewa
                      berakhir. Pemberi Sewa mempunyai hak untuk menahan Uang
                      Jaminan jika persyaratan tersebut belum dipenuhi oleh
                      Penyewa.
                  </p>
                </li><li>
                  <p style="text-align:justify;height:75px;">
                      Penyewa dengan tegas memberi kuasa kepada Pemberi Sewa
                      untuk mengosongkan dan men-guasai kembali Area Sewa Kantor.
                      Biaya-biaya untuk pengosongan Area Sewa Kantor akan
                      ditanggung dan dibayar oleh Penyewa.
                  </p>
                </li><li>
                  <p style="text-align:justify;height:145px">
                      Sepanjang diperbolehkan menurut hukum yang berlaku,
                      Penyewa dengan ini memberikan kuasa kepada Pemberi Sewa,
                      yang tidak akan berakhir oleh sebab apapun, termasuk
                      sebab-sebab yang diuraikan dalam Pasal 1813 Kitab
                      Undang-Undang Hukum Perdata, yang mana tanpa kuasa tersebut
                      Perjanjian ini tidak akan dibuat dan ditandatangani, hal
                      mana tidak dapat ditarik kembali atau tidak dapat diakhiri
                      karena alasan apapun, untuk melakukan hal-hal sebagai
                      berikut:
                  </p>
                  <ol type="a">
                    <li style="height:90px">
                      <p style="text-align:justify;">
                          Untuk memasuki Area Sewa Kantor atau setiap bagian dari
                          Area Sewa Kantor, untuk memindahkan barang-barang,
                          perlengkapan-perlengkapan yang dimiliki Penyewa di dalam
                          Area Sewa Kantor ke tempat yang ditentukan Pemberi Sewa;
                      </p>
                    </li><li>
                      <p style="text-align:justify;height:55px;">
                          Untuk melakukan tindakan-tindakan apa pun yang dianggap
                          layak dan perlu oleh Pemberi Sewa sehubungan dengan
                          pemberian kuasa;
                      </p>
                    </li><li>
                      <p style="text-align:justify;height:255px;">
                          Dalam hal Uang Jaminan tidak cukup untuk membayar
                          seluruh kewajiban-kewajiban pembayaran Penyewa yang masih
                          tertunggak, untuk menjual barang­barang milik Penyewa
                          tersebut dengan harga berapapun dan syarat-syarat yang
                          ditentukan oleh Pemberi Sewa, sebagai kompensasi pembayaran
                          atas kewajiban-kewajiban pembayaran Penyewa yang masih
                          tertunggak termasuk tetapi tidak terbatas pada biaya
                          pemindahan dan pengamanan barang-barang dan
                          perlengkapan-perlengkapan tersebut, tanpa mengurangi hak
                          Pemberi Sewa untuk mengambil tindakan hukum lebih lanjut
                          terhadap Penyewa. Apabila jumlah tersebut melebihi
                          kewajiban pembayaran Penyewa yang masih tertunggak,
                          kelebihan tersebut wajib dikembalikan kepada Penyewa.
                      </p>
                      <p style="text-align:justify;height:80px;">
                          Dalam hal hasil penjualan tidak cukup untuk melunasi
                          kewajiban Penyewa kepada Pemberi Sewa, Penyewa tetap
                          bertanggung jawab untuk memenuhi kewajiban dan pembayaran
                          yang masih tertunggak kepada Pemberi Sewa.
                      </p>
                    </li><li style="height:240px;">
                      <p style="text-align:justify;height:150px;">
                          Penyewa saat ini dan di masa yang akan datang dengan ini
                          mengabaikan seluruh dan setiap haknya berdasarkan hukum
                          yang berlaku di Negara Republik Indonesia untuk menuntut
                          Pemberi Sewa dalam bentuk apapun, baik mengenai penguasaan
                          kembali Area Sewa Kantor, pengosongan Area Sewa Kantor,
                          maupun mengenai pelaksanaan Pasal ini, ataupun setiap
                          akibat yang timbul dari tindakan Pemberi Sewa tersebut.
                      </p>
                      <p style="text-align:justify;">
                          Dalam hal terjadi pengakhiran Perjanjian yang disebabkan
                          kelalaian Penyewa sebagaimana diatur dalam Pasal 9 i (c)
                          dan (d) ini, Uang Jaminan akan dianggap hangus dan menjadi
                          hak milik Pemberi Sewa.
                      </p>
                    </li>
                  </ol>
                </li><li>
                  <p style="text-align:justify;">
                      Sehubungan dengan pengakhiran Perjanjian ini, Para
                      Pihak dengan ini sepakat untuk mengesampingkan ketentuan
                      Pasal 1266 Kitab Undang-Undang Hukum Perdata yang berlaku
                      di Republik Indonesia dalam hal suatu putusan atau
                      penetapan pengadilan diperlukan untuk mengakhiri Perjanjian
                      ini.
                  </p>
                </li></ol>
              </td>
          </tr>
          <tr>
              <td width="302" valign="top">
              </td>
              <td width="36" valign="top">
              </td>
              <td width="316" valign="top">
              </td>
          </tr>
          <tr>
              <td width="302" valign="top">
              </td>
              <td width="36" valign="top">
              </td>
              <td width="316" valign="top">
              </td>
          </tr>
          <tr style="height: 60px">
              <td width="302" valign="top">
                  <p align="center">
                      <strong></strong>
                  </p>
                  <p align="center" class="noMargin">
                      <strong>Article 10</strong>
                  </p>
                  <p align="center" class="noMargin">
                      <strong>Governing Law</strong>
                  </p>
              </td>
              <td width="36" valign="top">
                  <p align="center">
                      <strong></strong>
                  </p>
              </td>
              <td width="316" valign="top">
                  <p align="center">
                      <strong></strong>
                  </p>
                  <p align="center" class="noMargin">
                      <strong>Pasal 10</strong>
                  </p>
                  <p align="center" class="noMargin">
                      <strong>Hukum Yang Berlaku</strong>
                  </p>
              </td>
          </tr>
          <tr>
              <td width="302" valign="top">
                  <p style="text-align:justify">
                      This Agreement is subject to the law of Republic of
                      Indonesia.
                  </p>
              </td>
              <td width="36" valign="top">
              </td>
              <td width="316" valign="top">
                  <p style="text-align:justify">
                      Perjanjian ini tunduk pada hukum yang berlaku di Negara
                      Republik Indonesia.
                  </p>
              </td>
          </tr>
          <tr>
              <td width="302" valign="top">
              </td>
              <td width="36" valign="top">
              </td>
              <td width="316" valign="top">
              </td>
          </tr>
          <tr>
              <td width="302" valign="top">
              </td>
              <td width="36" valign="top">
              </td>
              <td width="316" valign="top">
              </td>
          </tr>
          <tr style="height: 60px">
              <td width="302" valign="top">
                  <p align="center" class="noMargin">
                      <strong>Article 11</strong>
                  </p>
                  <p align="center" class="noMargin">
                      <strong>Dispute Settlement</strong>
                  </p>
              </td>
              <td width="36" valign="top">
                  <p align="center">
                      <strong></strong>
                  </p>
              </td>
              <td width="316" valign="top">
                  <p align="center" class="noMargin">
                      <strong>Pasal 11</strong>
                  </p>
                  <p align="center" class="noMargin">
                      <strong>Penyelesaian Persilisihan</strong>
                  </p>
              </td>
          </tr>
          <tr>
              <td width="302" valign="top">
                <ol type="i" start="1" style="padding-left:1em;">
                <li>
                  <p style="text-align:justify">
                      The Parties agree to settle any disputes in the
                      execution of this Agreement by amicable settlement.
                  </p>
                </li><li>
                  <p style="text-align:justify">
                      If dispute settlement through amicable settlement
                      cannot be reached, the Parties agree to settle the dispute
                      through South Jakarta District Court.
                  </p>
                </li></ol>
              </td>
              <td width="36" valign="top">
              </td>
              <td width="316" valign="top">
                <ol type="i" start="1" style="padding-left:1em;">
                <li>
                  <p style="text-align:justify;">
                      Para Pihak sepakat untuk menyelesaikan setiap
                      perselisihan dalam pelaksanaan Perjanjian ini secara
                      musyawarah dan mufakat.
                  </p>
                </li><li>
                  <p style="text-align:justify">
                      Dalam hal penyelesaian dengan cara musy-awarah mufakat
                      tidak dapat tercapai, maka Para Pihak dengan ini sepakat
                      untuk menyelesaikan perselisihan melaului Pengadilan Negeri
                      Jakarta Selatan.
                  </p>
                </li></ol>
              </td>
          </tr>
          <tr>
              <td width="302" valign="top">
              </td>
              <td width="36" valign="top">
              </td>
              <td width="316" valign="top">
              </td>
          </tr>
          <tr>
              <td width="302" valign="top">
              </td>
              <td width="36" valign="top">
              </td>
              <td width="316" valign="top">
              </td>
          </tr>
          <tr style="height: 60px">
              <td width="302" valign="top">
                  <p align="center" class="noMargin">
                      <strong>Article 12</strong>
                  </p>
                  <p align="center" class="noMargin">
                      <strong>Others</strong>
                  </p>
              </td>
              <td width="36" valign="top">
              </td>
              <td width="316" valign="top">
                  <p align="center" class="noMargin">
                      <strong>Pasal 12</strong>
                  </p>
                  <p align="center" class="noMargin">
                      <strong>Lain-lain</strong>
                  </p>
              </td>
          </tr>
          <tr>
              <td width="302" valign="top">
                <ol type="i" start="1" style="padding-left:1em;">
                <li>
                  <p style="text-align:justify;">
                      Any modification or amendments shall be valid and
                      binding if made in writing and executed by the Parties.
                  </p>
                </li><li>
                  <p style="text-align:justify">
                      This Agreement is made in Indonesian language and
                      English language. In the event of any inconsistency or
                      different interpretation between the Indonesian language
                      version and the English language version, the Indonesian
                      language version is deemed to be automatically amended to
                      make the relevant part of the Indonesian language version
                      consistent with the relevant part of the English language
                      version.
                  </p>
                </li></ol>
              </td>
              <td width="36" valign="top">
              </td>
              <td width="316" valign="top">
                <ol type="i" start="1" style="padding-left:1em;">
                <li>
                  <p style="text-align:justify">
                      Setiap modifikasi atau perubahan akan berlaku dan
                      mengikat jika dibuat secara tertulis dan ditandatangani
                      oleh Para Pihak.
                  </p>
                </li><li>
                  <p style="text-align:justify">
                      Perjanjian ini dibuat dalam Bahasa Indonesia dan bahasa
                      Inggris. Dalam hal ketidaksesuaian atau terdapat perbedaan
                      interpretasi antara versi bahasa Indonesia dan versi bahasa
                      Inggris, versi bahasa Indonesia akan dianggap secara
                      otomatis diubah untuk membuat bagian dari versi bahasa
                      Indonesia sesuai dengan bagian yang relevan dari bahasa
                      Inggris.
                  </p>
                </li></ol>

              </td>
          </tr>
          <tr>
              <td width="302" valign="top">
              </td>
              <td width="36" valign="top">
              </td>
              <td width="316" valign="top">
              </td>
          </tr>
          <tr>
              <td width="302" valign="top">
                  <p style="text-align:justify">
                      <strong>IN WITNESS WHEREOF</strong>
                      , this Agreement has been executed by Both Parties on the
                      day and date written in Schedule, in 2 (two) original
                      copies, each with stamp duty and has legally binding
                      authority equal to the Parties.
                  </p>
              </td>
              <td width="36" valign="top">
              </td>
              <td width="316" valign="top">
                  <p style="text-align:justify">
                      <strong>DEMIKIAN,</strong>
                      Perjanjian ini dibuat dan ditandatangani oleh Para Pihak
                      pada hari dan tanggal sebagaimana tersebut pada Lampiran,
                      dibuat dalam rangkap 2 (dua), yang sama bunyinya yang
                      mengikat Para Pihak dan memiliki kekuatan hukum yang sama.
                  </p>
              </td>
          </tr>
          <tr>
              <td width="302" valign="top">
              </td>
              <td width="36" valign="top">
              </td>
              <td width="316" valign="top">
              </td>
          </tr>
          <tr>
              <td width="302" valign="top">
              </td>
              <td width="36" valign="top">
              </td>
              <td width="316" valign="top">
              </td>
          </tr>
          <tr>
              <td width="302" valign="top">
                {{with .EvHive}}
                  <p align="center">
                      <strong>{{.Name}}</strong>
                  </p>
                  <br/>
                  <br/>
                  <br/>
                  <br/>
                  {{with .PIC}}
                  <p align="center">
                      <u>{{.FirstName}} {{.LastName}}</u>
                  </p>
                  <p align="center">
                      {{.Title}}
                  </p>
                  {{end}}
                {{end}}
              </td>
              <td width="36" valign="top">
              </td>
              <td width="316" valign="top">
                {{with .Tenant}}
                {{with .Company}}
                  <p align="center">
                      <strong> {{.Name}} </strong>
                  </p>
                  <br/>
                  <br/>
                  <br/>
                  <br/>
                {{end}}
                {{end}}
                {{with .Tenant}}
                {{with .Recipient}}
                  <p align="center">
                      <u>{{.FirstName}} {{.LastName}}</u>
                  </p>
                  <p align="center">
                      {{.Title}}
                  </p>
                {{end}}
                {{end}}
              </td>
          </tr>
      </tbody>
  </table>
</body>
</html>
