<!DOCTYPE html>
<html>
    <style type="text/css">
      .noMargin{ margin: 0 auto ; }
      .page {
            page-break-inside: avoid;
            height: 1100px;

            position: relative;
        }
   </style>
<body style="font-size:12px; font-family:  Calibri ;">
  <div class="page">
  <br clear="ALL"/>
  <img width="400px" height="140px" src="http://studentjob.co.id/wp-content/uploads/2017/04/magang-evhive-.png" style="margin-left: 10px"/>
  

  <div style="margin-bottom: 230px;">
    <p style="font-size:40px; margin: 320px 0px 60px  0px">
        {{$companyName := .Tenant.Company.Name}}
        {{if eq $companyName ""}}
        {{with .Tenant}}{{with .Recipient}} {{.FirstName}} {{.LastName}} {{end}}{{end}}
        {{else}}
        {{with .Tenant}}{{with .Company}} {{.Name}} {{end}}{{end}}
        {{end}}        
    </p>
    <p style="font-size:24px; border-top: 1px; margin: 0 auto; margin-bottom: 5px">
        Dated on {{with .Info}} {{.Date| formatAsFullDate}} {{end}}
    </p>
    <p style="font-size:24px; border-bottom: 1px; margin : 1 auto">
        Private Office Lease Agreement
    </p>
  </div>

    <table border="0" cellspacing="0" cellpadding="0" width="100%" bgcolor="#d3d3d3" style="position: absolute; bottom: 0; width:100%">

        <tbody>
            <tr style="height:90px;">
              <td width="2%">
              </td>
              <td width="8%">
                <p> FROM: </p>
              </td>
              <td width="30%" >
                <p><strong> {{with .EvHive}} {{.Name}} {{end}} </strong></p>
              </td>
              <td width="5%">
                <p> TO: </p>
              </td>
              <td width="55%">
                <p> {{$companyName := .Tenant.Company.Name}}
                    {{if eq $companyName ""}}
                    {{with .Tenant}}{{with .Recipient}} {{.FirstName}} {{.LastName}} {{end}}{{end}}
                    {{else}}
                    {{with .Tenant}}{{with .Company}} {{.Name}} {{end}}{{end}}
                    {{end}}    </p>
              </td>
            </tr>
            <tr style="height:100px">
                <td width="2%">
                </td>
              <td width="38%" colspan = 2 valign="top">
                <p class="noMargin">    ADDRESS: {{with .EvHive}} {{.Address}} {{end}} </p>
              </td>
              <td width="15%" valign="top">
                <p class="noMargin">Person In Charge</p>
                <p class="noMargin">Phone</p>
                <p class="noMargin">Email</p>
              </td>
              <td width="45%"  valign="top">
                <p class="noMargin">{{with .User}} {{.FirstName}}  {{.LastName}} {{end}}</p>
                <p class="noMargin">{{with .User}} {{.PhoneNumber}} {{end}}</p>
                <p class="noMargin">{{with .User}} {{.Email}} {{end}}</p>
              </td>
            </tr>
            <!-- <tr>
              <td width="15%">
              </td>
              <td width="35%">
              </td>
            </tr>
            <tr>
              <td width="15%">
              </td>
              <td width="35%">
              </td>
            </tr> -->
        </tbody>
    </table>
  </div>
</body>
</html>
