<!DOCTYPE html>
<html>
<body style="font-size:10px;font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">
  <br clear="ALL"/>
  <table border="0" cellspacing="0" cellpadding="0" width="100%">
      <tbody>
        <tr>
          <td rowspan="6" width="75%" valign="bottom">
            <img width="300px" height="105px" src="http://studentjob.co.id/wp-content/uploads/2017/04/magang-evhive-.png"/>
          </td>
        </tr>
        <tr>
          <td valign="bottom">
            <p><strong>{{with .EvHive}} {{.Name}} {{end}}</strong></p>
          </td>
          <td colspan="3" width="15%" valign="bottom">
            <p> {{with .Info}} {{.Date | formatAsFullDate}} {{end}}</p>
          </td>
        </tr>
        <tr>
          <td width="40%" valign="bottom"><strong>Address:</strong></td>
          <td valign="bottom"><strong>Phone </strong></td>
          <td valign="bottom">:</td>
          <td valign="bottom">{{with .EvHive}} {{.Phone}} {{end}}</td>
        </tr>
        <tr>
          <td rowspan="3" valign="bottom">{{with .EvHive}} {{.AddressHQ}} {{end}}</td>
          <td valign="bottom"><strong>Email</strong></td>
          <td valign="bottom">:</td>x
          <td valign="bottom">{{with .EvHive}} {{.Email}} {{end}}</td>
        </tr>
        <tr>
          <td valign="bottom"><strong>Website</strong></td>
          <td valign="bottom">:</td>
          <td valign="bottom">{{with .EvHive}} {{.Website}} {{end}}</td>
        </tr>
      </tbody>
  </table>
  <br/>
</body>
</html>
