<!DOCTYPE html>
<html>
<body style="font-size:10px;font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">
  <br clear="ALL"/>
  <table border="0" cellspacing="0" cellpadding="0" width="100%">
      <tbody>
        <tr>
          <td rowspan="6" width="75%" valign="bottom">
            <img width="300px" height="105px" src="http://studentjob.co.id/wp-content/uploads/2017/04/magang-evhive-.png"/>
          </td>
        </tr>
        <tr>
          <td valign="bottom">
            <p><strong>{{with .EvHive}} {{.Name}} {{end}}</strong></p>
          </td>
        </tr>
        <tr>
          <td valign="bottom">{{with .EvHive}} {{.AddressHQ}} {{end}}</td>
        </tr>
      </tbody>
  </table>
  <br/>
</body>
</html>
